@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-description">Portfolyo Güncelleme Paneli </p>
				<form class="forms-sample">
					<div class="form-group">
						<label>İsim</label>
						@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
					</div>
					@Html.ValidationMessageFor(x =>x.Name)
					<div class="form-group"> 
						<label>Görsel URL</label>
						@Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
					</div>
					@Html.ValidationMessageFor(x =>x.ImageUrl)
					<div class="form-group">
						<label>Görsel URL 2</label>
						@Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
					</div>
					@Html.ValidationMessageFor(x =>x.ImageUrl2)
					<div class="form-group">
						<label>Proje URL</label>
						@Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
					</div>
					@Html.ValidationMessageFor(x =>x.ProjectUrl)

					<button type="submit" class="btn btn-outline-light mr-2">Güncelle</button>
					<button class="btn btn-outline-light">İptal</button>
				</form>
			</div>
		</div>
	</div>
}

