@using EntityLayer.Concrete
@model List<Skill>

@* <div class="section px-3 px-lg-4 pt-5" id="skills">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Yeteneklerim</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:700px">Aşağıda bildiğim programlama dilleri ve teknolojiler üzerine bir bar listesi bulunmaktadır.</p>
        </div>
        <div class="bg-light p-3">
            <div class="row">
	            <div class="col-md-12">
                    @foreach (var item in Model)
                    {
	                    <div class="py-1">
		                    <div class="d-flex text-small fw-bolder"><span class="me-auto">@item.Title</span><span>@item.Value</span></div>
		                    <div class="progress my-1">
                                <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width:@item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
		                    </div>
	                    </div>
                    }
	            </div>
            </div>
        </div>
    </div>
</div> *@


<div class="section px-3 px-lg-4 pt-5" id="skills">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Yeteneklerim</h2>
        </div>
        <div class="text-center">
			<p class="mx-auto mb-3" style="max-width:800px">Aşağıda bildiğim programlama dilleri ve teknolojiler üzerine bir bar listesi bulunmaktadır.</p>
        </div>
        <div class="bg-light p-3">
	        <div class="row">
		        <div class="col-md-5">
			        @{
				        int i = 0;
			        }
			        @foreach (var item in Model)
			        {
				        if (i == 4)
				        {
					        break;
				        }
				        else
				        {
					        <div class="py-1">
						        <div class="d-flex text-small fw-bolder"><span class="me-auto">@item.Title</span><span>@item.Value</span></div>
						        <div class="progress my-1">
									<div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
						        </div>
					        </div>
				        }
				        i++;
			        }
		        </div>

		        <div class="col-md-5 offset-md-2">
			        @{ var a = 4; }

			        @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
			        {
				        if (item.Index < a)
				        {
					        continue;
				        }
				        else
				        {
					        <div class="py-1">
						        <div class="d-flex text-small fw-bolder"><span class="me-auto">@item.Value.Title</span><span>@item.Value.Value</span></div>
						        <div class="progress my-1">
									<div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: @item.Value.Value%" aria-valuenow="@item.Value.Value" aria-valuemin="0" aria-valuemax="100"></div>
						        </div>
					        </div>
				        }
			        }

		        </div>

	        </div>
            </div>
        
    </div>
</div>